@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(../../../images/customer/register_bg.jpg);
  padding: 0 10px;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 120px auto;
  margin-right: 100px;
  padding: 70px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #da6b11;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .input_field label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .input_field input,
.wrapper .form .input_field textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .input_field textarea {
  resize: none;
  height: 125px;
}

.wrapper .form .input_field .text {
  font-size: 14px;
  color: #757575;
}

.wrapper .form .input_field .text a {
  color: #da6b11;
  cursor: pointer;
}

.wrapper .form .input_field .text a:hover {
  text-decoration: underline;
}

.wrapper .form .input_field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #da6b11;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .input_field:last-child {
  margin-bottom: 0;
}

.wrapper .form .input_field .btn:hover {
  background: #d8a57b;
}
